<div class="days-to-skip-container">
    <h4>Days to skip</h4>

    <div class="mobile">
        <Accordian @title='Select Days' @weekDays={{@weekDays}} as |day| >
            <div>
                <Input @type="checkbox" 
                    @checked={{day.isChecked}} 
                    @disabled={{day.isDisabled}} 
                    {{on 'change' (fn skipDaysChange day)}}/> 
                <label>{{day.day}}</label>
            </div>
        </Accordian>
    </div>

    <div class='days-list desktop'>
        {{#each @weekDays as |day|}}
            <div>
                <Input @type="checkbox" 
                   @checked={{day.isChecked}} 
                   @disabled={{day.isDisabled}} 
                   {{on 'change' (fn skipDaysChange day)}}/> 
                <label>{{day.day}}</label>
            </div>
        {{/each}}
    </div>
</div>